@using frontend.Shared.Structs
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<NavMenu> localizer

<nav class="blue">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Res reserv system</a>
        <ul id="nav-mobile" class="right">
            @foreach (var link in NavbarLinks)
            {
                <li><a href="@link.address">@localizer[link.name]</a></li>
            }
        </ul>
    </div>
</nav>

@code {
    private Link[] NavbarLinks = {
        new Link(name:"Log in", address:""),
        new Link(name:"Sign up", address:""),
    };
}
